.card-product 
    flex: 1 250px
    margin-top: 10px
    margin-bottom: 0px

.btn-compra 
    width: 96%
    border-radius: 0px
.img_card
        display: inline-block
            width: 3rem
            top: 8px
            position: relative
