.card-product 
    flex: 1 250px
    margin-top: 10px
    margin-bottom: 0px

.btn-compra 
    width: 96%
    border-radius: 0px
.fondo_logo_card
        background-color: $black!important
.card:hover
				transform: translateY(-10px)
				box-shadow: 0 12px 16px rgba($white,0.1)