.btn_collapse
        width: 100%
.posiscionamiento
         transform: translateX(-110%)
#datos 
        transform: translate(650px, 40px)
#inicio
        height: 100%
.fondo_filosofia
        background-color: rgba($black,0.975) !important
.subtitulo
        margin: 1.5rem auto
        font-size: 2rem
        font-family: $font
        width: 70%
        text-align: center
        display: block
        color: #babad6
        border-bottom: 2px $orange solid
        padding-bottom: 2rem
.card-header
        background-color: $blue !important
        color: $white !important
.card_filosofia
        background-color: rgba($white,0.1) 
        font-family: $font 
        height: 280px 

#Mision
        transform: translateX(2%)
#Vision
        transform: translateX(2%)
#Objetivos
        transform: translateX(2%)
#Valores
        transform: translateX(2%)
#filosofia
        transform: translateX(-0.7%)

@media screen and ( max-width:736px)
        #filosofia
                 transform: translateX(-2%) !important       
    
        