footer
        height: 100%
        background-color: rgba($blue, 0.60)
        color: $white
a
                text-decoration: none
                color: rgba($white, 0.4)
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
.links_footer
        line-height: 50px !important
        color: rgba($white, 0.4 ) !important
.links_footer:hover
        color: $orange !important
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important
.iconos_footer 
        padding: 0px 0px 0px 0px 
.copyright
        background-color: $black
.barra
        border-left: $orange 3px solid
.titulo_footer
        font-family: arial
.circulo
        border-radius: 100%
        width: 50px
        margin-bottom: 15px