.menu
    position: fixed
    width: 100%
    z-index: 1
    box-shadow: 0px 0px 15px 
    ul
        background-color: $blue
        li
            color: $gray
            font-family: $font
            display: inline-block
            padding: 1rem