.slide
    width: 100%
    overflow: hidden
    .flecha
        font-size: 10vw
        position: absolute
        z-index: 3
        color: rgba($black, 0.4)
        left: 50%
        margin-left: -5vw
        animation: 1.6s moveArrow ease-in 12s infinite, 12s opacity ease-in 1
        i
            position: relative
            width: 100%
    figure
        position: relative
        bottom: 0
        width: 400%
        margin: 0
        animation: 12s slideImgs ease-in-out infinite
        overflow: hidden
        >img
            width: 25%
            float: left
            opacity: 0.8
        span
            margin: 1.4rem
            position: absolute
            bottom: 0
            width: 12%
        .i1
            left: 5%
            bottom: 100%
            animation: 12s showTextI1 ease-in-out infinite
            animation-fill-mode: forwards
            >img
                position: relative
                width: 100%
        .i2
            right: 50%
            top: 40%
            animation: 12s showTextI2 ease-in-out infinite
            animation-fill-mode: forwards
            >img
                position: relative
                width: 100%
        .i3
            left: 50%
            bottom: -100%
            animation: 12s showTextsI3 ease-in-out infinite
            animation-fill-mode: forwards
            >img
                bottom: 0
                position: relative
                width: 100%
        

@keyframes slideImgs
    0%
        right: 0
    25.33%
        right: 0
    33.33%
        right: 100%
    58.67%
        right: 100%
    66.67%
        right: 200%
    92%
        right: 200%
    100%
        right: 300%
@keyframes showTextsI3
    0%
        bottom: -100%
    55%
        bottom: -100%
    68%
        bottom: 0
    100%
        bottom: 0
@keyframes showTextI1
    5%
        bottom: 100%
    18%
        bottom: 20%
    100%
        bottom: 20%
@keyframes showTextI2
    25%
        right: 30%
    38%
        right: 50%
    100%
        right: 50%
@keyframes moveArrow
    0%
        transform: translatey(0%)
    50%
        transform: translatey(25%)
    100%
        transform: translatey(0%)
@keyframes opacity
    0%
        color: rgba($black, 0.0)
    80%
        color: rgba($black, 0.0)
    90%
        color: rgba($black, 0.2)
    100%
        color: rgba($black, 0.4)