* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 15px;
          box-shadow: 0px 0px 15px;
}

.menu ul {
  background-color: #004a9d;
  overflow: hidden;
}

.menu ul span {
  height: 100%;
  position: absolute;
  background-color: #004a9d;
  left: 0;
  padding-right: 1rem;
  cursor: pointer;
}

.menu ul span > li {
  display: inline-block;
  color: #c4c4c4;
  font-size: 1.1rem;
  letter-spacing: 2.5px;
  font-family: "Roboto", sans-serif;
  border-left: 2px #a5a5a5 solid;
  padding-left: 1rem;
}

.menu ul span img {
  width: 1.9rem;
  position: relative;
  top: 8px;
  left: 10px;
  margin-right: 1.5rem;
}

.menu ul .navbarSm {
  display: inline-block;
  padding-left: 9.5rem;
}

.menu ul .navbarSm a {
  text-decoration: none;
}

.menu ul .navbarSm a > li {
  color: #d1d1d1;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.065rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul .navbarSm a > li:hover {
  background-color: #00397a;
}

.menu ul .navbarSm a > li:active {
  border-radius: 10px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.menu ul .botonDesplegable {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.065rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu ul .botonDesplegable:hover {
  background-color: #00397a;
}

.menu ul .botonDesplegable:hover .botonDesplegableContent {
  display: block;
}

.menu ul .botonDesplegable:active {
  background-color: #00397a;
}

.menu ul .botonDesplegable:active .botonDesplegableContent {
  display: block;
}

.menu ul .botonDesplegable i {
  font-size: 1.3rem;
  position: relative;
  top: 0.2rem;
  margin-left: 0.3rem;
}

.menu ul .botonDesplegable .botonDesplegableContent {
  top: 3.22rem;
  left: 28.8rem;
  display: none;
  position: absolute;
  background-color: rgba(0, 57, 122, 0.95);
  min-width: 130px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
  z-index: 4;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul .botonDesplegable .botonDesplegableContent a {
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  padding: 12px 16px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu ul .botonDesplegable .botonDesplegableContent a:hover {
  background-color: #ff9e01;
  color: #001329;
}

.slide {
  width: 100%;
  overflow: hidden;
}

.slide .flecha {
  font-size: 10vw;
  position: absolute;
  z-index: 3;
  color: rgba(0, 19, 41, 0.4);
  left: 50%;
  margin-left: -5vw;
  -webkit-animation: 1.6s moveArrow ease-in 12s infinite, 12s opacity ease-in 1;
          animation: 1.6s moveArrow ease-in 12s infinite, 12s opacity ease-in 1;
}

.slide .flecha i {
  position: relative;
  width: 100%;
}

.slide figure {
  position: relative;
  bottom: 0;
  width: 400%;
  margin: 0;
  -webkit-animation: 12s slideImgs ease-in-out infinite;
          animation: 12s slideImgs ease-in-out infinite;
  overflow: hidden;
}

.slide figure > img {
  width: 25%;
  float: left;
  opacity: 0.8;
}

.slide figure span {
  margin: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 12%;
}

.slide figure .i1 {
  left: 5%;
  bottom: 100%;
  -webkit-animation: 12s showTextI1 ease-in-out infinite;
          animation: 12s showTextI1 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i1 > img {
  position: relative;
  width: 100%;
}

.slide figure .i2 {
  right: 50%;
  top: 40%;
  -webkit-animation: 12s showTextI2 ease-in-out infinite;
          animation: 12s showTextI2 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i2 > img {
  position: relative;
  width: 100%;
}

.slide figure .i3 {
  left: 50%;
  bottom: -100%;
  -webkit-animation: 12s showTextsI3 ease-in-out infinite;
          animation: 12s showTextsI3 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i3 > img {
  bottom: 0;
  position: relative;
  width: 100%;
}

@-webkit-keyframes slideImgs {
  0% {
    right: 0;
  }
  25.33% {
    right: 0;
  }
  33.33% {
    right: 100%;
  }
  58.67% {
    right: 100%;
  }
  66.67% {
    right: 200%;
  }
  92% {
    right: 200%;
  }
  100% {
    right: 300%;
  }
}

@keyframes slideImgs {
  0% {
    right: 0;
  }
  25.33% {
    right: 0;
  }
  33.33% {
    right: 100%;
  }
  58.67% {
    right: 100%;
  }
  66.67% {
    right: 200%;
  }
  92% {
    right: 200%;
  }
  100% {
    right: 300%;
  }
}

@-webkit-keyframes showTextsI3 {
  0% {
    bottom: -100%;
  }
  55% {
    bottom: -100%;
  }
  68% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@keyframes showTextsI3 {
  0% {
    bottom: -100%;
  }
  55% {
    bottom: -100%;
  }
  68% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes showTextI1 {
  5% {
    bottom: 100%;
  }
  18% {
    bottom: 20%;
  }
  100% {
    bottom: 20%;
  }
}

@keyframes showTextI1 {
  5% {
    bottom: 100%;
  }
  18% {
    bottom: 20%;
  }
  100% {
    bottom: 20%;
  }
}

@-webkit-keyframes showTextI2 {
  25% {
    right: 30%;
  }
  38% {
    right: 50%;
  }
  100% {
    right: 50%;
  }
}

@keyframes showTextI2 {
  25% {
    right: 30%;
  }
  38% {
    right: 50%;
  }
  100% {
    right: 50%;
  }
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  50% {
    -webkit-transform: translatey(25%);
            transform: translatey(25%);
  }
  100% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  50% {
    -webkit-transform: translatey(25%);
            transform: translatey(25%);
  }
  100% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@-webkit-keyframes opacity {
  0% {
    color: rgba(0, 19, 41, 0);
  }
  80% {
    color: rgba(0, 19, 41, 0);
  }
  90% {
    color: rgba(0, 19, 41, 0.2);
  }
  100% {
    color: rgba(0, 19, 41, 0.4);
  }
}

@keyframes opacity {
  0% {
    color: rgba(0, 19, 41, 0);
  }
  80% {
    color: rgba(0, 19, 41, 0);
  }
  90% {
    color: rgba(0, 19, 41, 0.2);
  }
  100% {
    color: rgba(0, 19, 41, 0.4);
  }
}

footer {
  background-color: #001329;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.links_footer {
  line-height: 50px;
  text-shadow: 8px 8px 8px black;
}

.links_footer:hover {
  color: #ff9e01;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.iconos_footer {
  padding: 0px 0px 0px 0px;
}

.copyright {
  background-color: rgba(0, 74, 157, 0.3);
}

.barra {
  border-left: #ff9e01 3px solid;
}

.titulo_footer {
  font-family: arial;
}

.circulo {
  border-radius: 100%;
  width: 50px;
  margin-bottom: 15px;
}

.menu ul {
  list-style-type: none;
}

.menu ul .hamburguer {
  float: right;
}

.menu ul .hamburguer > i {
  display: inline-block;
  color: #d1d1d1;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul .hamburguer > i:hover {
  background-color: #00397a;
}

.menu ul .hamburguer > i:active {
  border-radius: 10px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.menu ul .hamburguer ul {
  display: none;
  list-style-type: none;
  position: absolute;
  background-color: #004a9d;
  overflow: hidden;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 10px 20px -3px #001329;
          box-shadow: 0px 10px 20px -3px #001329;
  z-index: 10;
  border-top: 0.25px #517daf solid;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul .hamburguer ul li {
  font-size: 1.15rem;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.65rem;
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  text-align: center;
}

.menu ul .hamburguer ul li a {
  display: none;
}

.menu ul .hamburguer ul li i {
  padding-left: 0.4rem;
  position: relative;
  top: 0.1rem;
  font-size: 1.2rem;
  color: #d1d1d1;
}

.menu ul .hamburguer ul li:hover {
  background-color: #00397a;
}

.menu ul .hamburguer ul li:last-child {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hamburguer {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  #navbarSm {
    display: none;
  }
}

.btn_collapse {
  width: 100%;
}

.posiscionamiento {
  -webkit-transform: translate(-650px, 40px);
          transform: translate(-650px, 40px);
}
/*# sourceMappingURL=main.css.map */