* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px;
          box-shadow: 0px 0px 15px;
}

.menu ul {
  background-color: #004a9d;
  overflow: hidden;
}

.menu ul span {
  height: 100%;
  position: absolute;
  background-color: #0c3e77;
  left: 0;
  padding-right: 1rem;
  cursor: pointer;
}

.menu ul span > li {
  display: inline-block;
  color: #c4c4c4;
  font-size: 1.1rem;
  letter-spacing: 2.5px;
  font-family: "Roboto", sans-serif;
  border-left: 2px #a5a5a5 solid;
  padding-left: 1rem;
}

.menu ul span img {
  width: 1.9rem;
  position: relative;
  top: 8px;
  left: 10px;
  margin-right: 1.5rem;
}

.menu ul a li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.065rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul a li:hover {
  background-color: #00397a;
}

.menu ul a li:active {
  border-radius: 10px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.menu ul .dropdown {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.065rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu ul .dropdown:hover {
  background-color: #00397a;
}

.menu ul .dropdown:hover .dropdownContent {
  display: block;
}

.menu ul .dropdown:active {
  border-radius: 10px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.menu ul .dropdown .dropdownContent {
  top: 3.22rem;
  left: 28.5rem;
  display: none;
  position: absolute;
  background-color: rgba(0, 57, 122, 0.95);
  min-width: 130px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
  z-index: 4;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu ul .dropdown .dropdownContent a {
  font-family: "Roboto", sans-serif;
  color: #d1d1d1;
  padding: 12px 16px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu ul .dropdown .dropdownContent a:hover {
  background-color: #ff9e01;
  color: #001329;
}

.menu ul:first-child {
  padding-left: 9.5rem;
}

.slide {
  overflow: hidden;
  height: 100%;
}

.slide figure {
  position: relative;
  bottom: 0;
  width: 400%;
  margin: 0;
  -webkit-animation: 12s slideImgs ease-in-out infinite;
          animation: 12s slideImgs ease-in-out infinite;
  overflow: hidden;
}

.slide figure > img {
  width: 25%;
  float: left;
  opacity: 0.8;
}

.slide figure span {
  margin: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 12%;
}

.slide figure .i1 {
  left: 5%;
  bottom: 100%;
  -webkit-animation: 12s showTextI1 ease-in-out infinite;
          animation: 12s showTextI1 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i1 > img {
  position: relative;
  width: 100%;
}

.slide figure .i2 {
  right: 50%;
  top: 40%;
  -webkit-animation: 12s showTextI2 ease-in-out infinite;
          animation: 12s showTextI2 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i2 > img {
  position: relative;
  width: 100%;
}

.slide figure .i3 {
  left: 50%;
  bottom: -100%;
  -webkit-animation: 12s showTextsI3 ease-in-out infinite;
          animation: 12s showTextsI3 ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide figure .i3 > img {
  bottom: 0;
  position: relative;
  width: 100%;
}

@-webkit-keyframes slideImgs {
  0% {
    right: 0;
  }
  25.33% {
    right: 0;
  }
  33.33% {
    right: 100%;
  }
  58.67% {
    right: 100%;
  }
  66.67% {
    right: 200%;
  }
  92% {
    right: 200%;
  }
  100% {
    right: 300%;
  }
}

@keyframes slideImgs {
  0% {
    right: 0;
  }
  25.33% {
    right: 0;
  }
  33.33% {
    right: 100%;
  }
  58.67% {
    right: 100%;
  }
  66.67% {
    right: 200%;
  }
  92% {
    right: 200%;
  }
  100% {
    right: 300%;
  }
}

@-webkit-keyframes showTextsI3 {
  0% {
    bottom: -100%;
  }
  55% {
    bottom: -100%;
  }
  68% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@keyframes showTextsI3 {
  0% {
    bottom: -100%;
  }
  55% {
    bottom: -100%;
  }
  68% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes showTextI1 {
  5% {
    bottom: 100%;
  }
  18% {
    bottom: 20%;
  }
  100% {
    bottom: 20%;
  }
}

@keyframes showTextI1 {
  5% {
    bottom: 100%;
  }
  18% {
    bottom: 20%;
  }
  100% {
    bottom: 20%;
  }
}

@-webkit-keyframes showTextI2 {
  25% {
    right: 30%;
  }
  38% {
    right: 50%;
  }
  100% {
    right: 50%;
  }
}

@keyframes showTextI2 {
  25% {
    right: 30%;
  }
  38% {
    right: 50%;
  }
  100% {
    right: 50%;
  }
}

main {
  background-color: #001329;
}

footer {
  background-color: #001329;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #004a9d;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.links_footer:hover {
  color: #ff9e01;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*# sourceMappingURL=main.css.map */